<a href="/">
  <span id="menu_span">
    <p id='menu_logo'><img src='../images/logo.webp'></p>
  </span>
</a>

<h1 id="page_title">About</h1>
<div id='about_page'>
  <p>This website is designed to help our client, Asia McMullin. Asia is aspiring to start a small business (Rethinking Nutrition by AFM) as an integrative functional clinician. The mission of her practice is to provide local clients with
    personalized treatment that centers around nutrition and lifestyle. Common conditions that Asia wants to help with include: weight loss, diabetes, high cholesterol, low energy, heart disease, non-alcoholic fatty liver, gut health.</p>
  <p>This website will help Asia organize her client information and recommendations (nutrition supplements and articles) based on clients’ health conditions. These recommendations can be matched to health conditions so that Asia can save time in
    providing services to her clients.</p>
</div>
