<a href="/">
<span id="menu_span">
<p id='menu_logo'><img src='../images/logo.webp'></p>
</span>
</a>
<div class="response">
  <p>Failed.  Your database did not update with {{title}}: </p>
  {{#each values}}
  {{this}}
  {{/each}}
</div>
<div class="response">
  <p>Please ensure all required fields were filled out and try again!</p>
</div>
