<span id="title_span">
<h1> ReThinking Nutrition <h1>
<p id='logo'><img src='../images/logo.webp'></p>
</span>

<a href="/consultations" class="hp_links">
<span class="link_span" id="consultations_span">
<p>Consultations</p>
</span>
</a>

<a href="/clients" class="hp_links">
<span class="link_span" id="clients_span">
<p>Clients</P>
</span>
</a>

<a href="/supplements" class="hp_links">
<span class="link_span" id="supplements_span">
<p>Supplements</p>
</span>
</a>

<a href="/articles" class="hp_links">
<span class="link_span" id="articles_span">
<p>Articles</p>
</span>
</a>

<a href="/conditions" class="hp_links">
<span class="link_span" id="conditions_span">
<p>Conditions</p>
</span>
</a>
