<span id="title_span">
<h1> ReThinking Nutrition <h1>
<p id='logo'><img src='../images/logo.webp'></p>
</span>

<span class="link_span" id="consultations_span">
<a href="/consultations" class="hp_links">Consultations</a>
</span>

<span class="link_span" id="clients_span">
<a href="/clients" class="hp_links">Clients</a>
</span>

<span class="link_span" id="supplements_span">
<a href="/supplements" class="hp_links">Supplements</a>
</span>

<span class="link_span" id="articles_span">
<a href="/articles" class="hp_links">Articles</a>
</span>

<span class="link_span" id="conditions_span">
<a href="/conditions" class="hp_links">Conditions</a>
</span>
