<a href="/">
<span id="menu_span">
<p id='menu_logo'><img src='../images/logo.webp'></p>
</span>
</a>

<div class="response">
{{!-- Create a table --}}
<table id="view-all-conditions">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        {{#each response.[0]}}
        <th>
        {{@key}}
        </th>
        {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, phone, email, address, city in order --}}
        {{#each response}}
        <tr>
            <td>{{this.condition_id}}</td>
            <td>{{this.condition_name}}</td>
            <td><button><a href="/deleteConditionFromTable/{{this.condition_id}}">Delete</a></button></td>   
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
