body {
  font-family: Arial, Times;
}

ul {
  list-style-type: none;
}

li {
  width: 100%
}

.link_span {
  border-style: solid;
  border-radius: 25px;
  border-color: lightgrey;
  padding: 25px;
}

#title_span {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#consultations_span {
  position: fixed;
  top: -50%;
  left: -100%;
}

#clients_span {
  position: fixed;
  top: -115%;
  left: 15%;
}

#conditions_span {
  position: fixed;
  top: -50%;
  left: 120%;
}

#articles_span {
  position: fixed;
  top: 100%;
  left: -30%;
}

#supplements_span {
  position: fixed;
  top: 100%;
  left: 70%;
}

.link_span {
  text-align: center;
  padding: 2% 15%;
}

.link_span:hover {
  background-color: lightgrey;
  transform: scale(1.2);
  transition-duration: 1s;
}

a {
  text-decoration: none;
  color: black;
}

#menu_span {
  position: fixed;
  top: 0;
  left: 0;
  /* transform: scale(.8); */
}

#about{
  text-decoration: underline;
  color: blue;
}

#about_page{
  margin: 0% 30%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.25em;
}
#page_title {
  font-size: 5em;
}

.form_question {
  width: 40%;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 25px;
  text-align: center;
  margin: 0% 30%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.25em;
}

.form_question:hover {
  background-color: lightgrey;
  cursor: pointer;
  transition-duration: 1s;
}

.form_action {
  width: 40%;
  text-align: center;
  margin: 0%  30%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.5em;
  display: none;
}

.add_another, .remove_another, .add_another_store, .remove_another_store {
  cursor: pointer;
  text-decoration: underline;
  font-size: .5em;
  color: blue;
}

.remove {
  cursor: pointer;
  font-size: .5em;
  color: red;
}

.response {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
}

.response table {
  text-align: left;
  font-size: .75em;
  border-style: double;
  margin: auto;
}

.response table th {
  border-style: double;
}

.response table tr {
  border-style: double;
}
